html 
  head
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
  body(style="width: 1000; margin-left: 15%")
    .container
      h1 Create User
      if errors
        each error in errors
          .alert.alert-danger= error.msg
      form(action="/api/users/" method="POST")
          .form-group
              label(for="Name") Name: 
              input#Name.form-control(type="text",name="Name",value=values ? values.Name:'')
          .form-group
              label(for="Birthday") Birthday: 
              input#Birthday.form-control(type="date",name="Birthday",value=values ? values.Birthday:'')
          .form-group
              label(for="Tel") Tel: 
              input#Tel.form-control(type="text",name="Tel",value=values ? values.Tel:'')
          .form-group
              label(for="Email") Email: 
              input#Email.form-control(type="text",name="Email",value=values ? values.Email:'')
          .form-group
              label(for="Role") Role: 
              input#Role.form-control(type="text",name="Role",value=values ? values.Role:'')
          button.btn.btn-primary Create