html 
  head
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
body(style="width: 1000; margin-left: 25%")
    .container
        h1 Edit User
        if errors
            each error in errors
                .alert.alert-danger= error
        form.form-group.ml-50(action="/api/users/"+user._id method="")
            .form-group
                label(for="Name") Name: 
                input#Name.form-control(type="text",name="Name", value= user.Name)
            .form-group
                label(for="Birthday") Birthday: 
                input#Birthday.form-control(type="date",name="Birthday", value= getDate)
            .form-group
                label(for="Tel") Tel: 
                input#Tel.form-control(type="text",name="Tel", value= user.Tel)
            .form-group
                label(for="Email") Email: 
                input#Email.form-control(type="text",name="Email", value= user.Email)
            .form-group
                label(for="Role") Role: 
                input#Role.form-control(type="text",name="Role", value= user.Role)
            button.btn.btn-primary Update