html 
  head
  link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans')
  link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

  body(style="width: 1000; margin-left: 25%")
    .container

      h1 User List
      a(href="/api/users/create") New User
      .table-wrapper
        .table-title
          .row
            .col-sm-8
              h2 User List
            .col-sm-4
              form(action="/api/users/create/" method="GET")
                button.btn.btn-info.add-new(type='button')
                  i.fa.fa-plus Add New
        table.table.table-bordere
          thead
            tr
              th Name 
              th Email
              th Phone
              th Actions
          tbody
            each user in users
              tr
                td= user.Name
                td= user.Email
                td= user.Tel
                td
                  .btn-group(role='group', style="display:flex;")
                    form(action="/api/users/"+user.id, method="GET")
                      button.btn.btn-info
                        i.glyphicon.glyphicon-search
                    form(action="/api/users/edit/"+user.id, method="GET" )
                      button.btn.btn-default
                        i.glyphicon.glyphicon-pencil
                    form(action="/api/users/"+user.id, method="" )
                      button.btn.btn-danger
                        i.glyphicon.glyphicon-trash

      ul.pagination
        each pagenumber in pagenumbers
         li.page-item
          a.page-link(href="/api/users?page="+ pagenumber, id=pagenumber)= pagenumber          