html 
  head
    link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css")
body(style="width: 1000; margin-left: 25%")
    .container
        h1   View User
        table.table
            tr.thead-dark
            th Key 
            th Value
                tr
                    td Name:
                    td(style="color: gray;")= user.Name
                tr
                    td Birthday:
                    td(style="color: gray;")= getDate
                tr
                    td Tel:
                    td(style="color: gray;")= user.Tel
                tr
                    td Email:
                    td(style="color: gray;")= user.Email
                tr
                    td Role:
                    td(style="color: gray;")= user.Role